@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

:root {
  --bright-red: hsl(12, 88%, 59%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);

  --horizontal-margin: 1.5rem;
  --narrow-margin: 1rem;
}

*,
*::before,
*::after {
  position: relative;
}

html,
body {
  width: 100%;
  position: relative;
  font-family: "Be Vietnam", sans-serif;
}

body {
  min-height: 100vh;
  padding-top: 2.25rem;
}

.site--header {
  margin: 0 var(--horizontal-margin) 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.hero--image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.background--container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background--positioning {
  width: 100%;
  position: absolute;
  top: -8%;
  right: -22%;
  z-index: -1;
}

.background--image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--horizontal-margin) 6rem;
  background-image: url("images/bg-tablet-pattern.svg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: right -150% bottom 15%;
}

.headline--header {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  color: var(--very-dark-blue);
}

.copy {
  margin-top: 1rem;
  line-height: 1.75em;
  color: var(--dark-grayish-blue);
}

.copy-centered {
  text-align: center;
}

.button {
  display: block;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--very-pale-red);
  background-color: var(--bright-red);
  border-radius: 10rem;
  box-shadow: 0 20px 30px -15px var(--bright-red);
}

.features--header {
  padding-left: var(--horizontal-margin);
  padding-right: var(--horizontal-margin);
}

h2 {
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  color: var(--very-dark-blue);
}

.features--feature {
  margin: 3.125rem var(--narrow-margin) 0;
}

.feature--header {
  display: flex;
  align-items: stretch;
  background-color: var(--very-pale-red);
  padding: 0.75rem 0;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  overflow: hidden;
  margin-right: calc(-1 * var(--narrow-margin));
}

.feature--headingtext {
  font-size: 1rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.feature--number {
  display: flex;
  align-items: center;
  margin: -0.75rem 1rem -0.75rem 0;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  font-weight: 700;
  color: var(--very-pale-red);
  background-color: var(--bright-red);
}

.testimonials {
  margin: 4.5rem var(--narrow-margin) 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials--list {
  margin-top: 6rem;
}

.testimonial--card {
  background-color: var(--very-light-gray);
  padding: 4rem 1rem 2.75rem;
}

.testimonial--header {
  text-align: center;
}

.testimonial--avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 100%;
  overflow: hidden;
}

.avatar--image {
  width: 100%;
  object-fit: cover;
}

.testimonials--selector {
  margin-top: 1.5rem;
  margin-bottom: 2.75rem;
}

.selector--radio {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.selector--label {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.1rem;
}

.selector--outline {
  position: absolute;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid var(--bright-red);
  border-radius: 100%;
}

.selector--radio:checked ~ .selector--inside {
  position: absolute;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--bright-red);
  border-radius: 100%;
}
